<% title 'Sign up' %>
<div class="page-header">
  <h1>Sign up <small>Participate in club events</small></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <%= render 'users/name_field', :f => f %>
  <%= render 'users/email_field', :f => f %>
  <%= render 'users/club_field', :f => f %>
  <%= render 'users/sport_ident_field', :f => f %>

  <div class="form-group">
    <%= f.label :referred_from, "Referred by", :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :referred_from, :placeholder => "Optional", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.password_field :password, :required => true, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= flash[:recaptcha_error] %>
      <%= invisible_recaptcha_tags text: 'Sign up', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
