<header class="page-header">
<%
is_current_user = (current_user == @user)
if is_current_user %>
  <div class="pull-right">
    <%= render "users/settings" %>
  </div>
<% end %>
<%= title @user.name %>
</header>
<%
  show_send_message = (@user.can_message and current_user != @user and user_signed_in?)
%>
<div class="row">
  <div class="col-sm-6">
    <%= render "users/results", :user => @user %>
  </div>
  <div class="col-sm-6">
<% if is_current_user %>
    <%= render "users/linked_accounts", :user => @user %>
<% end %>
<% if show_send_message %>
    <%= render "users/send_message", :user => @user %>
<% end %>
    <%= render "users/organizing", :user => @user %>
  </div>
</div>
