<h2>About Orienteering</h2>
<ul id="about-orienteering-nav" class="nav nav-tabs">
  <li class="active"><a href="#orienteering-basics" data-toggle="tab">Orienteering</a></li>
  <li><a href="#orienteering-map" data-toggle="tab">The map</a></li>
  <li><a href="#orienteering-course" data-toggle="tab">The course</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="orienteering-basics">
    <table>
      <tr>
        <th><h4>Navigation!</h4></th>

        <th><h4>Terrain running!</h4></th>

        <th><h4>Checkpoints!</h4></th>
      </tr>
      <tr>
        <td class="about-orienteering-column"><%= image_tag "home2.gif", :width => 175 %> Orienteering involves
          navigating between checkpoints using a detailed map and compass.</td>

        <td class="about-orienteering-column"><%= image_tag "home1.jpg", :width => 175 %> Pick your own route
          between the checkpoints: Along a path, over a hill, or straight through the
          forest!<br /></td>

        <td class="about-orienteering-column"><%= image_tag "home3.jpg", :width => 175 %> Checkpoints are
          marked with red and white flags, and are indicated by a circle on the map.</td>
      </tr>
    </table>
  </div>
  <div class="tab-pane" id="orienteering-map">
    <table>
      <tr>
        <th><h4>Map Sample</h4></th>

        <th><h4>Legend</h4></th>
        <th></th>
      </tr>
      <tr>
        <td class="about-orienteering-column">
          Orienteering uses a very detailed map, typically at a 1:4000 to 1:15 000 scale. Below is a sample map of a
          forested area:
          <%= image_tag "map1.gif", :width => 175 %>
        </td>
        <td class="about-orienteering-column">
          <%= image_tag "map_legend_urban.gif", :width => 175 %>
          A checkpoint next to a lone tree:
          <%= image_tag "map2.jpg", :width => 175 %>
        </td>
        <td class="about-orienteering-column">
          <%= image_tag "map_legend_forest.gif", :width => 175 %><br><br>
          A checkpoint at the bottom of a small cliff:
          <%= image_tag "map3.jpg", :width => 175 %>
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-pane" id="orienteering-course">
    <table>
      <tr>
        <th><h4>The start</h4></th>

        <th><h4>Checkpoints/finish</h4></th>

        <th><h4>Course types</h4></th>
      </tr>
      <tr>
        <td class="about-orienteering-column">
          The orienteering course is designed to challenge the participant both in terms of navigation as well as route planning.
          <br><br>
          You must visit all checkpoints but the route between each is up to you!
          <br><br>
          The start of the course is indicated by a purple triangle on the map:
          <%= image_tag "course1.gif", :width => 175 %>
          <br><br>
        </td>
        <td class="about-orienteering-column">
          Competitors go to each numbered checkpoint in order:
          <%= image_tag "course3.gif", :width => 175 %>
          <br><br>
          The two concentric circles mark the end of the orienteering course:
          <%= image_tag "course2.gif", :width => 175 %>
        </td>
        <td class="about-orienteering-column">
          <span class="root_menu">Sprint:</span> short courses around 2-3km with winning times around 12-15 minutes. The course requires the participant to make quick decisions.
          <hr/>
          <span class="root_menu">Middle:</span> 25-35 minute winning time. Navigation skills are especially important.
          <hr/>
          <span class="root_menu">Long:</span> 60-90 minute winning time. Route planning skills are essential here.
          <hr/>
          <span class="root_menu">Night:</span> courses run at nighttime where participants use headlamps.
          <hr/>
          <span class="root_menu">Score:</span> participants can visit the checkpoints in any order.
        </td>
      </tr>
    </table>
  </div>
</div>

<h2>Try Orienteering Today!</h2>
<%= render_club_tree(@top_level_clubs) =%>
