<!DOCTYPE html>
<html>
<head>
  <title>WhyJustRun</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
